html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  height: 95vh;
  max-width: 1400px;
  max-height: 1000px;
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.sidebar {
  width: 65px;
  height: 60%;
  background-color: #A1D572;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  margin-top: 70px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu img{
  width: 40px;
  height: 40px;
  margin-top: 6px;
}
.menu button {
  background: none;
  border: none;
  font-size: 24px;
  margin: 10px 0;
  margin-top: 20px;
  cursor: pointer;
}

.menu button.active {
  font-weight: bold;
}
.menu button:hover {
  color: #eee;
  background-color: #ff38e4;
  border-radius: 8px;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.header {
  padding: 10px;
  margin-top: 31px;
}

.logo {
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
}
.logo img {
  width: 40px;
  height: 40px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  top: 1px;
}
.header-right button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.header-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0;
  margin-left: 70px;
}

.search-bar input {
  padding: 10px 900px;
  border-radius: 25px;
  border: 1px solid #db4ec8;
  font-size: 14px;
  padding-left: 35px;
  outline: none;
}
.filter-button{
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.filter-button img {
  width: 70px;
  height: 70px;
}
/**/
.receta-detalle,
.imagen-receta,
.ajuste-porciones,
.ingredientes,
.acciones {
  margin-left: 70px;
  margin-right: 70px;
}


.receta-detalle {
  padding: 20px;
}

.breadcrumb {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.copiar-enlace {
  float: right;
  font-size: 13px;
  background: #D9D9D9;
  padding: 7px;
  border-radius: 20px;
  border: none;
  color: #666;
  cursor: pointer;
}

.imagen-receta {
  width: 88%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.imagen-receta img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center top;
  display: block;
}

.info-superpuesta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 👈 Alinea el texto a la izquierda */
  gap: 10px; /* Espacio entre elementos */
  border-radius: 10px;
  box-sizing: border-box;
}


.info-superpuesta h1 {
  margin-top: 50px;
  font-size: 32px;
}

.info-superpuesta p {
  font-size: 16px;
  margin: 10px 0;
}

.duracion {
  font-size: 17px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.duracion img {
  width: 24px;
}

.badge {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: gold;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
}

.ajuste-porciones {
  margin-top: 20px;
  font-size: 16px;
}

.ajuste-porciones button {
  margin: 10px 10px 0 0;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #f4f1c3;
  cursor: pointer;
  font-size: 14px;
}

.ajuste-porciones button:hover {
  background-color: #FEEC37;
}

.ingredientes h3 {
  margin-top: 30px;
  font-size: 20px;
  color: #2d2d2d;
}

.ingredientes ul {
  list-style: disc;
  padding-left: 20px;
}

.ingredientes li {
  margin: 5px 0;
}

.acciones {
  margin-top: 30px;
}

.acciones button {
  padding: 10px 20px;
  margin-right: 15px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-video, .btn-guia {
  background-color: #ec5b88;
  color: white;
}

.btn-video:hover {
  background-color: #d24472;
}


.btn-guia:hover {
  background-color: #d24472;
}


/**/







